<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Light</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body id="body">

<!--==========================
  Header
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto">Web of<span> Things</span></a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/">Home</a></li>
        <li><a href="{{ url_for('.about', _anchor='about') }}">About Us</a></li>
        <li><a href="{{ url_for('.services', _anchor='services') }}">Devices</a></li>
        <li><a href="{{ url_for('.team', _anchor='team') }}">Team</a></li>
        <li><a href="{{ url_for('.contact', _anchor='contact') }}">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->

  </div>
</header><!-- #header -->

</section><!-- #intro -->

<main id="main">
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Services</h2>
        <p>Control your devices directly from here...</p>
      </div>

<div class="row">

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
            <h4 class="title"><a href="/light">Light</a></h4>
            <p class="description" id="lightStatus">Current status: OFF</p>
            <div class="form-group row">
              <label for="selectLight" class="col-sm-5 col-form-label" style="margin-left: 100px; font-size: 14px;">Change light status</label>
              <div class="col-sm-3">
                <select class="form-control" id="selectLight">
                  <option value="0">OFF</option>
                  <option value="1">ON</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="fa fa-thermometer-half"></i></div>
            <h4 class="title"><a href="/temperature">Temperature</a></h4>
            <p class="description" id="tempStatus">Current status: ...°.</p>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-tint"></i></div>
            <h4 class="title"><a href="/humidity">Humidity</a></h4>
            <p class="description" id="humStatus">Current status: ...%.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- #services -->


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Erza & Quynh</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <!--
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  -->
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/sticky/sticky.js"></script>


  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
  <script src="../static/js/myjs.js" ></script>
</main>
</body>
</html>
